@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-slate-100
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  
  .swal2-container{
    z-index: 20000 !important;
  }
  
  .errormsg{
    font-size: 10px !important;
  }
  
  .scroolbarmine ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
   .scroolbarmine ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .scroolbarmine ::-webkit-scrollbar-thumb {
    background: #b5b3b3;
  }
  
  /* Handle on hover */
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b5b3b3;
  }
  
  
  
  #loader {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
    overflow: hidden;
  }
  
  #loader .outer {
    height: 105px;
    width: 105px;
    position: relative;
    transform: rotate(50deg);
    border-radius: 50%;
    padding: 0px;
  }
  
  #loader .title {
    text-align: center;
    margin-top: 10px;
  }
  
  #loader .title .loading-text {
    color: #ea4335;
    font-weight: 600;
    text-shadow: 0px 0px 2px #bbbbbb;
  }
  
  #loader .title .belduha {
    color: #993;
    margin-top: 10px;
    opacity: .4;
  }
  
  #loader .outer span.dot {
    height: 100%;
    width: 100%;
    display: inline-block;
    border-radius: 50%;
    padding: 20px;
    position: absolute;
    animation: spin-loader 2s linear infinite;
  }
  
  #loader .outer span.dot.dot-1 {
    animation-delay: .07s;
  }
  
  #loader .outer span.dot.dot-2 {
    animation-delay: .14s;
  }
  
  #loader .outer span.dot.dot-3 {
    animation-delay: .21s;
  }
  
  #loader .outer span.dot.dot-4 {
    animation-delay: .28s;
  }
  
  #loader .outer span.dot.dot-5 {
    animation-delay: .35s;
  }
  
  #loader .outer span.dot::after {
    content: '';
    border-radius: 50%;
    background: #ea4335;
    display: inline-block;
  }
  
  #loader .outer span.dot.dot-1::after {
    height: 10px;
    width: 10px;
  }
  
  #loader .outer span.dot.dot-2::after {
    height: 9px;
    width: 9px;
  }
  
  #loader .outer span.dot.dot-3::after {
    height: 8px;
    width: 8px;
  }
  
  #loader .outer span.dot.dot-4::after {
    height: 7px;
    width: 7px;
  }
  
  #loader .outer span.dot.dot-5::after {
    height: 6px;
    width: 6px;
  }
  
  @keyframes spin-loader {
    0% {
        transform: rotate(0deg);
    }
    32% {
        transform: rotate(180deg);
    }
    70% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  
  .me {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }
  
  .me a {
    text-decoration: none;
    color: #ffffff;
    background: #ea4335;
    padding: 10px 20px;
    display: inline-block;
    transition: all ease .5s;
  }
  
  .me a:hover {
    background: #999933;
  }
  
  .cardbg div:nth-child(1){
    background-color: #F2F1DF
  }
  
  
  .cardbg div:nth-child(2){
    background-color: #F2DFF0
  }
  
  
  .cardbg div:nth-child(3){
    background-color: #E2DFF2
  }
  
  
  .cardbg div:nth-child(4){
    background-color: #DFF2E6
  }
  
  .cardbg div:nth-child(5){
    background-color: #DFEDF2
  }
  .dataselect{
    display: none;
    transition: all 0.3s;
  }
  
  .onhoverelem:hover .dataselect{
    display: block
  }
  .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300vh;
  }
  
  